* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #ffffff;
  font-family: Inter;
  scroll-behavior: smooth;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  /* gap: clamp(20px, calc(5vw + 20px), 100px); */
  gap: clamp(5px, calc(1vw + 5px), 100px);
}

.pantalla {
  background-color: var(--color-principal);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
}

.pantalla::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;

  background-image: url(../../assets/images/general/fondo_extra-large.png);
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size: clamp(300px, calc(40vw + 200px), 900px);
  background-attachment: fixed;

  filter: blur(clamp(5px, calc(0.5vw + 1px), 10px));
  opacity: 0.4;
}

.main {
  min-height: 80svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(20px, calc(5vw + 20px), 100px);
  padding-inline: clamp(10px, calc(2vw + 10px), 50vw);
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media screen and (max-width: 1600px) {
  .pantalla::before {
    background-image: url(../../assets/images/general/fondo_large.png);
  }
}
@media screen and (max-width: 1024px) {
  .pantalla::before {
    background-image: url(../../assets/images/general/fondo_medium.png);
  }
}
@media screen and (max-width: 767px) {
  .pantalla::before {
    background-image: url(../../assets/images/general/fondo_small.png);
  }
}
