@import url("./form-input.css");
@import url("./boton-principal.css");

.header {
  width: 100%;
  height: clamp(80px, calc(5vw + 5px), 150px);
  padding: clamp(5px, calc(1vw + 1px), 100px) clamp(10px, calc(1vw + 1px), 200px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-image: var(--bg-color-header-gradient);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.contenedor-logo {
  max-width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
}

.codecats_academy {
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  font-family: Caveat;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0;
  width: 50%;
}

.logo {
  width: 50%;
  aspect-ratio: 1;
}

.buscador {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-principal);
  width: 50%;
  height: 60px;
  padding-right: 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.buscador-escritorio {
}

.contenedor-buscador-movil {
  display: none;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
}

.contenedor-buscador {
  background-color: var(--color-logos);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10%;
  padding: 20px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  width: 100svw;
  height: 100px;

  transition-property: opacity, scale;
  transition-duration: 500ms;
  transition-timing-function: var(--animacion-rebote);
}

.buscador-movil {
  width: 100%;
}

.hidden {
  opacity: 0;
  /* visibility: hidden; */
  scale: 0;
}

.show-buscador {
  visibility: visible;
  opacity: 1;
}

.abrir-modal-buscador {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.cerrar-modal {
  margin: 10px;
  cursor: pointer;
  font-size: 3rem;
  color: #000;
  transition-property: rotate, scale;
  transition-duration: 1s, 500ms;
  transition-timing-function: var(--animacion-rebote);
}

.cerrar-modal:hover {
  scale: 1.2;
  rotate: 1turn;
}

.buscador-input {
  color: rgba(255, 255, 255, 1);
  border: none;
  background-color: transparent;
  width: 100%;
  height: 60px;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-right: 10px;
}

.buscador-input::placeholder {
  color: var(--color-logos);
}

.buscador-input:focus-visible {
  outline: none;
  border: none;
}

.courses {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}

.courses::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: transparent;
  translate: -95% 50px;
  transition: background-color 300ms;
}
.courses:hover::after {
  background-color: #ffffff;
}

.menu_botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(10px, calc(2vw + 10px), 50px);
  flex-shrink: 0;
}

.cart_outline,
.person_outline {
  cursor: pointer;
}

svg {
  fill: #ffffff;
  font-size: 2rem;
  width: 40px;
}

@media screen and (max-width: 950px) {
  .buscador-escritorio {
    display: none;
  }

  .contenedor-buscador-movil {
    display: flex;
    visibility: visible;
    width: 100%;
    opacity: 1;
  }
}

/* Estilos para el modal login*/
#openModal {
  background-color: transparent;
  border: none;
}

.login__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: var(--color-principal);
  padding: 20px 40px;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  left: calc(50% - 250px);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login-form__title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.login-form .form-input {
  width: 100%;
}

.error-message,
.error-message-register {
  color: rgb(192, 23, 23);
  font-size: 14px;
  margin-top: 10px;
}

/* Estilos para el botón de cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.btn_pricipal {
  max-width: 200px;
}

.userMenuModal {
  display: none;
  position: absolute;
  top: clamp(80px, calc(5vw + 5px), 150px);
  right: 0;
  width: 200px;
  background-color: var(--color-input);
}

.userMenuModal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 200px;
  background-color: var(--color-input);
  padding: 20px 40px;
}

.menuModalOption {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  position: relative;
}

.menuModalOption:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  left: 0px;
  bottom: -10px;
}

#register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
