.seccion-inicio {
  /* height: 400px; */
}

.inicio__descripcion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50%;
}

.curso__descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.titulo_seccion {
  text-align: center;
  font-family: Inter;
  /* font-size: 40px; */
  font-size: clamp(2rem, calc(1vw + 1.5rem), 5rem);
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 75% */
  letter-spacing: 2px;
}

.image_principal {
  width: clamp(200px, calc(30vw + 100px), 800px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(../../assets/images/general/image_principal.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25);
}

.seccion-cursos {
  height: 400px;
}

.seccion-historia {
}

.historia__descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}
.historia__imagen {
  width: 500px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(../../assets/images/general/img-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 10px 10px rgba(0, 0, 0, 0.25));
}

.seccion-equipo {
  flex-direction: column;
}

.equipo__introduccion {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.equipo__introduccion .descripcion:nth-of-type(1) {
  text-align: left;
}
.equipo__introduccion .descripcion:nth-of-type(2) {
  text-align: right;
}

.introduccion__imagen {
  width: clamp(200px, calc(10vw + 200px), 500px);
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 200px;
  background-image: url(../../assets/images/equipos/img-team.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -5px -5px 5px 5px rgba(0, 0, 0, 0.25);
}

.texto {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  line-height: 40px; /* 160% */
  letter-spacing: 1.25px;
}

.equipo__descripciones {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.equipo {
  display: flex;
  /* height: 500px; */
  width: 100%;
  gap: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.equipo .descripcion {
  width: 70%;
  font-size: clamp(1rem, calc(0.5vw + 1rem), 3rem);
}

.equipo:nth-of-type(even) {
  flex-direction: column-reverse;
}

.equipo .equipo__imagen {
  width: clamp(200px, calc(20vw + 100px), 500px);
  aspect-ratio: 2/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: -5px -5px 5px 5px rgba(0, 0, 0, 0.25);
}

.equipo:nth-of-type(1) .equipo__imagen {
  border-radius: 100px 100px 100px 0px;
  background-image: url(../../assets/images/equipos/img-team-1.png);
}

.equipo:nth-of-type(2) .equipo__imagen {
  width: clamp(200px, calc(5vw + 200px), 400px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(../../assets/images/equipos/img-team-2.png);
}

.equipo:nth-of-type(3) .equipo__imagen {
  border-radius: 100px 100px 0px 100px;
  background-image: url(../../assets/images/equipos/img-team-3.png);
}

.contenedor-listado {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.listado-integrantes {
  width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.integrante {
  /* * background-color: #00a2ff47; * */
  display: flex;
  width: 320px;
  height: 500px;
  padding-inline: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
}

.integrante__datos {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.integrante__foto,
.integrante__nombre,
.integrante__posicion,
.integrante__descripcion {
  transition-property: translate;
  transition-duration: var(--duracion-animacion);
  transition-timing-function: var(--animacion-rebote);
}

.integrante__foto {
  transition-property: translate, scale;
  object-fit: scale-down;
}

.integrante__posicion,
.integrante__descripcion {
  transition-property: translate, opacity;
}

.integrante__foto {
  width: 200px;
  height: 200px;
  translate: 0 50%;
  border-radius: 150px;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
}

.integrante__nombre {
  display: inline-block;
  width: 100%;

  text-transform: capitalize;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 75% */
  letter-spacing: 2px;

  translate: 0 125px;
}

.integrante__posicion {
  display: inline-block;
  width: 100%;

  text-transform: capitalize;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 75% */
  letter-spacing: 2px;

  translate: 100%;
}

.integrante__descripcion {
  display: inline-block;
  width: 100%;

  font-size: 20px;
  font-style: normal;
  line-height: 30px; /* 150% */
  letter-spacing: 1px;

  translate: -100%;
}

.integrante__posicion,
.integrante__descripcion {
  opacity: 0;
}

.integrante:hover .integrante__foto,
.integrante:hover .integrante__nombre,
.integrante:hover .integrante__posicion,
.integrante:hover .integrante__descripcion,
.integrante.hover-activo .integrante__foto,
.integrante.hover-activo .integrante__nombre,
.integrante.hover-activo .integrante__posicion,
.integrante.hover-activo .integrante__descripcion {
  translate: 0;
}

.integrante:hover .integrante__foto,
.integrante.hover-activo .integrante__foto {
  scale: 0.8;
}

.integrante:hover .integrante__posicion,
.integrante:hover .integrante__descripcion,
.integrante.hover-activo .integrante__posicion,
.integrante.hover-activo .integrante__descripcion {
  opacity: 1;
}

.forma_trabajo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.ambiente {
  height: 300px;
}

.ambiente:nth-of-type(even) {
  flex-direction: row-reverse;
}

.ambiente__imagen {
  width: clamp(200px, calc(10vw + 50px), 400px);
  aspect-ratio: 1;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.ambiente:nth-of-type(1) .ambiente__imagen {
  border-radius: 0px 50%;
  background-image: url(../../assets/images/ambiente/ambiente-1.png);
}
.ambiente:nth-of-type(2) .ambiente__imagen {
  border-radius: 50% 0px;
  background-image: url(../../assets/images/ambiente/ambiente-2.png);
}
.ambiente:nth-of-type(3) .ambiente__imagen {
  border-radius: 0px 50%;
  background-image: url(../../assets/images/ambiente/ambiente-3.png);
}
.ambiente:nth-of-type(4) .ambiente__imagen {
  border-radius: 50% 0px;
  background-image: url(../../assets/images/ambiente/ambiente-4.png);
}

.contenedor__descripcion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.ambiente__titulo {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 100% */
  letter-spacing: 1.5px;
}

.descripcion {
  text-align: center;
  font-family: Inter;
  font-size: clamp(1rem, calc(0.5vw + 1rem), 5rem);
  line-height: 1.6;
}

@media screen and (min-width: 1300px) {
  .main {
    max-width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .buscador-escritorio {
    display: none;
  }

  .contenedor-buscador-movil {
    display: flex;
    visibility: visible;
    width: 100%;
    opacity: 1;
  }

  .equipo__descripciones {
    flex-direction: column;
  }

  .equipo {
    height: auto;
    flex-direction: row;
  }

  .equipo:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .equipo__introduccion {
    flex-direction: column;
  }

  .seccion-equipo .equipo__introduccion .descripcion {
    text-align: center;
  }
}
