.curso {
  display: flex;
  width: 240px;
  height: 380px;
  align-items: flex-start;
  background: var(--bg-color-curso-card-gradient);
}

.curso_card {
  display: flex;
  height: 380px;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  cursor: pointer;
}

.curso_imagen {
  width: 200px;
  height: 227px;
  flex-shrink: 0;
  object-fit: contain;
  object-position: center;
}

.curso_nombre {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.curso_datos {
  display: flex;
  width: 0px;
  height: 380px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex-shrink: 0;
  background-image: var(--bg-color-curso-card-datos-gradient);
  transition-property: width;
  transition-duration: var(--duracion-animacion);
  transition-timing-function: var(--animacion-rebote);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.contenedor-me-gusta {
  width: 40px;
  aspect-ratio: 1;
  position: absolute;
  right: 20px;
  top: 20px;
  translate: 500px -100px;
  display: grid;
  place-items: center;
  z-index: 100;
}

.input-check-back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.me-gusta-icon {
  position: absolute;
  width: 100%;
  fill: transparent;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: var(--animacion-rebote);
  transform-origin: bottom;
}

.input-check-back:checked ~ .me-gusta-icon {
  animation: jump 1s 1 both;
  fill: #ffffff;
}

@keyframes jump {
  0% {
    scale: 1;
  }
  10% {
    scale: 1 0.5;
  }
  50% {
    scale: 1.2;
    translate: 0 -10px;
  }
  100% {
    scale: 1;
    translate: 0;
  }
}

.curso__propiedad {
  display: flex;
  width: 435px;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.curso__propiedad,
.btn_add_to_cart,
.btn_comprar,
.contenedor-me-gusta {
  opacity: 0;
  transition-property: opacity, translate;
  transition-duration: var(--duracion-animacion);
  transition-timing-function: var(--animacion-rebote);
}

.propiedad__nombre {
  display: flex;
  width: 135px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.propiedad__valor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.curso_duracion {
  translate: 100px -100px;
}

.curso_modalidad {
  translate: 400px -50px;
}

.curso_certificado {
  translate: 400px 0px;
}

.curso_descripcion {
  align-items: flex-start;
  translate: 400px 50px;
}

.curso__botones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 435px;
  height: 100%;
}

.btn_add_to_cart,
.btn_comprar {
  color: transparent;
  cursor: pointer;
  border: 5px solid transparent;
  transition-property: opacity, translate, scale, box-shadow, border;
  transition-duration: 500ms;
  transition-timing-function: var(--animacion-rebote), var(--animacion-rebote), ease, ease;

  display: grid;
  place-items: center;

  width: 50%;
  height: 45px;

  transform-origin: center;
  transform-style: preserve-3d;

  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
}

.btn_add_to_cart {
  translate: -140px 70px;
  background-color: var(--bg-color-boton-secundario);
}

.btn_comprar {
  translate: 140px 70px;
  background-color: var(--bg-color-boton-principal);
}

.btn_add_to_cart:hover,
.btn_comprar:hover {
  border-color: #ffffff;
  scale: 1.05 1.2;
}
.btn_add_to_cart:hover .add_to_cart,
.btn_comprar:hover .buy {
  scale: 1.2;
}

.buy,
.add_to_cart {
  color: #ffffff;
  text-align: center;

  font-size: 1.2rem;
  font-weight: bold;

  display: grid;
  place-items: center;
  transition: scale 300ms ease;
}

.curso:hover .curso_datos {
  z-index: 100;
  width: 475px;
  padding: 20px;
}

.curso:hover .curso__propiedad,
.curso:hover .btn_add_to_cart,
.curso:hover .btn_comprar,
.curso:hover .contenedor-me-gusta {
  translate: 0;
  opacity: 1;
}


